$primary-color: #858181;
$secondcolor: rgb(61, 204, 240);
$tertiarycolor: rgb(77, 228, 195);
$show-home-image: true;
$homeimage: url("./images/back.jpg");
$background-opacity: 0.7;
@mixin easeOut {
  transition: all 0.5s ease-out;
}
@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $homeimage;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}
//media Query mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}
@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin mediaLg {
  @media screens and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}
@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
