@import "config";
@import "menu";

* {
  box-sizing: border-box;
}
body {
  // background-image: url("D:\santosh\desktop\skportfolio\file\images\back.jpg");
  @include background;
  background-color: $primary-color;
  height: 100%;
  margin: 0;
  line-height: 1.5;
}
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  color: #fff;

  &.lg-heading {
    font-size: 5rem;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}
a {
  color: #fff;
  text-decoration: None;
}
header {
  position: fixed;
  z-index: 2;
  width: 100%;
}
.text-secondary {
  color: $secondcolor;
}
main {
  padding: 4rem;

  min-height: calc(100vh-60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: yellow;
        @include easeOut;
      }
    }
  }
  &.home {
    overflow: hidden;
    h1 {
      margin-top: 18vh;
    }
  }
}
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "bioimage bio bio" "education skills intraskills";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondcolor 5px solid;
    &:hover {
      transform: scale(1.1);
      @include easeOut;
    }
  }
  .bio {
    grid-area: bio;
    h3 {
      border-bottom: $tertiarycolor 5px solid;
    }
  }

  .skills {
    grid-area: skills;
  }
  .education {
    grid-area: education;
  }
  .intraskills {
    grid-area: intraskills;
  }
  .info {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-top: $tertiarycolor 5px solid;
    border-bottom: $tertiarycolor 5px solid;
    h2 {
      color: $tertiarycolor;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
}
#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 5);
  color: white;
  height: 60px;
}
@import "mobile";
