$primary-color: rgb(129, 131, 151);
$secondcolor: rgb(82, 162, 236);

* {
  box-sizing: border-box;
}
body {
  background-color: $primary-color;
  height: 100%;
  margin: 0;
  line-height: 1.5;
}
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 5rem;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}
a {
  color: #fff;
  text-decoration: None;
}
header {
  position: fixed;
  z-index: 2;
  width: 100%;
}
.text-secondary {
  color: $secondcolor;
}
main {
  padding: 4rem;
  height: 100%;

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $primary-color;
        transition: color 1.5s ease-out;
      }
    }
  }
}
