@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
  .portrait {
    width: 250px;
    height: 350px;
    border-radius: 50%;
    border: solid 3px $tertiarycolor;
  }
  .boxes {
    grid-template-columns: repeat(3, 1fr);
  }
}
@include mediaLg {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    background: darken($primary-color, 8);
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
  }
  .portrait {
    width: 200px;
    height: 170px;
    border-radius: 50%;
    border: solid 3px $tertiarycolor;
  }
  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "skills"
      "education"
      "intraskills";
    grid-template-columns: 1fr;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  .boxes {
    grid-template-columns: 1fr;
  }
}
@include mediaSm {
  main#home h1 {
    margin-top: 10vh;
  }
  .projects {
    grid-template-columns: 1fr;
  }
  .portrait {
    width: 250px;
    height: 170px;
    border-radius: 50%;
    border: solid 3px $tertiarycolor;
  }
  .boxes {
    grid-template-columns: 1fr;
  }
}
